* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f8f8;
    font-family: sans-serif;
    outline: none;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #efecf300;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #faf9f9,
                      5px 5px 12px rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: repeat(4,68px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,0.16);
    border: none;
    border-radius: 30px;
    color: rgb(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button {
    height: 48px;
    width: 48px;
    background-color: #b8c0c670;
    box-shadow: -5px -5px 12px #ffffff,
                5px 5px 12px rgba(0,0,0,0.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
    cursor: pointer;
}

.calc{
    width: 115px;
    border-radius: 40px;
    background-color: #cd0606;
    box-shadow: -5px -5px 12px #ffffff,
                5px 5px 12px rgba(0,0,0,0.16);
}
.excep{
    height: 48px;
    width: 48px;
    background-color: #cd0606;
    box-shadow: -5px -5px 12px #ffffff,
                5px 5px 12px rgba(0,0,0,0.16);}

.excep2{
        height: 48px;
        width: 48px;
        background-color: #807e7edb;
        box-shadow: -5px -5px 12px #ffffff,
                    5px 5px 12px rgba(0,0,0,0.16);}